<a href="https://colab.research.google.com/github/samarinmm/AI-ML-Assignments/blob/main/Case_Study_02_on_Ensemble_Learning_Mohamed_Samarin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

In [41]:
df = pd.read_csv('salary.csv')

In [ ]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17772 entries, 0 to 17771
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             17772 non-null  int64
 1   workclass       17772 non-null  object
 2   fnlwgt          17772 non-null  int64
 3   education       17772 non-null  object
 4   education-num   17772 non-null  int64
 5   marital-status  17772 non-null  object
 6   occupation      17772 non-null  object
 7   relationship    17772 non-null  object
 8   race            17771 non-null  object
 9   sex             17771 non-null  object
 10  capital-gain    17771 non-null  float64
 11  capital-loss    17771 non-null  float64
 12  hours-per-week  17771 non-null  float64
 13  native-country  17771 non-null  object
 14  salary          17771 non-null  object
dtypes: float64(3), int64(3), object(9)
memory usage: 2.0+ MB

In [ ]:
df = df.drop('education',axis=1)

In [ ]:
df['workclass'].unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' Self-emp-inc', ' Without-pay', ' Never-worked'],
      dtype=object)

In [45]:
df['workclass'].replace(to_replace = ' ?', value = df['workclass'].mode()[0], inplace = True)
df['workclass'].unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' Self-emp-inc', ' Without-pay', ' Never-worked'],
      dtype=object)

In [ ]:
df['workclass'] = df['workclass'].map({' Never-worked':0,' Without-pay':1,' Self-emp-not-inc':2,' Self-emp-inc':4,' Private':5, ' Local-gov':6,' Federal-gov':7,' State-gov':8})

In [ ]:
df['occupation'].unique()

array([' Adm-clerical', ' Exec-managerial', ' Handlers-cleaners',
       ' Prof-specialty', ' Other-service', ' Sales', ' Craft-repair',
       ' Transport-moving', ' Farming-fishing', ' Machine-op-inspct',
       ' Tech-support', ' ?', ' Protective-serv', ' Armed-Forces',
       ' Priv-house-serv'], dtype=object)

In [ ]:
df['occupation'].replace(to_replace = ' ?', value = df['occupation'].mode()[0], inplace = True)

In [ ]:
df['race'].unique()

array([' White', ' Black', ' Asian-Pac-Islander', ' Amer-Indian-Eskimo',
       ' Other', nan], dtype=object)

In [ ]:
df['race'] = df['race'].map({' Black':0,' Amer-Indian-Eskimo':1,' Asian-Pac-Islander':2,' Other':3,' White':4})

In [ ]:
df['native-country'].replace(to_replace = ' ?', value = df['native-country'].mode()[0], inplace = True)

In [46]:
df['sex'] = df['sex'].map({' Male':1,' Female':0})

In [47]:
x = df.drop('salary',axis=1)
y = df.salary

In [48]:
x = pd.get_dummies(x)
x.head()

,age,fnlwgt,education-num,sex,capital-gain,capital-loss,hours-per-week,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
0,39,77516,13,1,2174,0,40,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,50,83311,13,1,0,0,13,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,38,215646,9,1,0,0,40,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,53,234721,7,1,0,0,40,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,28,338409,13,0,0,0,40,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [49]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=42,test_size=0.2)

In [51]:
from sklearn.tree import DecisionTreeClassifier

In [52]:
dt=DecisionTreeClassifier()
dt.fit(x_train , y_train)
y_pred=dt.predict(x_test)

In [53]:
from sklearn.metrics import accuracy_score
acc=round(accuracy_score(y_test,y_pred),2)
acc

0.81

In [54]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state = 42,n_estimators = 100)
rf = rf.fit(x_train,y_train)
y_pred = rf.predict(x_test)

In [55]:
acc=round(accuracy_score(y_test,y_pred),2)
acc

0.86

In [56]:
from sklearn.ensemble import BaggingClassifier
dt = DecisionTreeClassifier()
bagging_clf = BaggingClassifier(base_estimator = dt, n_estimators = 100, random_state = 42)
bagging_clf.fit(x_train,y_train)
y_pred = bagging_clf.predict(x_test)

In [57]:
acc=round(accuracy_score(y_test,y_pred),2)
acc

0.86

In [58]:
from sklearn.ensemble import BaggingClassifier
bagging_clf = BaggingClassifier(base_estimator = rf, n_estimators = 100, random_state = 42)
bagging_clf.fit(x_train,y_train)
y_pred = bagging_clf.predict(x_test)

In [59]:
acc=round(accuracy_score(y_test,y_pred),2)
acc

0.86

In [60]:
from sklearn.ensemble import AdaBoostClassifier
ad = AdaBoostClassifier(n_estimators = 100)
ad = ad.fit(x_train,y_train)
y_pred = ad.predict(x_test)

In [61]:
acc=round(accuracy_score(y_test,y_pred),2)
acc

0.87